.ads {
  padding: 0 104px;
}
.ads .flex {
  display: flex;
  align-items: center;
}
.ads .banner-img {
  width: 100%;
  height: 144px;
  margin-top: 16px;
}
.ads .banner-img-mobile {
  display: none;
}
.ads-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #0F0F10;
  margin-bottom: 12px;
}
.ads-top .ads-title-mobile {
  display: none;
}
.ads-top .ads-title,
.ads-top .ads-title-mobile {
  font-size: 20px;
  font-weight: 600;
}
.ads-top .ads-title span,
.ads-top .ads-title-mobile span {
  font-weight: 400;
  margin-right: 8px;
}
.ads-top .ads-btn {
  border: none;
  background-color: #F7F7F7;
}
.ads-top .recent-search-mobile {
  display: none;
}
.ads-top .recent-search {
  color: #007AFF;
  display: flex;
  align-items: center;
  padding-left: 24px;
  border-left: 2px solid #DCDDE0;
}
.ads-top .recent-search img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
}
.ads-top .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 14px;
  margin: 0 24px;
}
.ads-top .ads-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 296px;
  height: 56px;
  border-radius: 14px;
  padding: 0 32px;
  font-size: 16px;
  font-weight: 400;
  color: #0F0F10;
}
.ads-top .ads-order .ads-order-mobile {
  display: none;
}
.ads .sidebar {
  position: absolute;
  width: 296px;
  overflow-y: auto;
  height: 100%;
}
.ads .sidebar::-webkit-scrollbar {
  width: 0;
}
.ads .sidebar::-webkit-scrollbar-thumb {
  display: none;
}
.ads .sidebar .filter-card,
.ads .sidebar .filter-card-group {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.0392156863);
  border-radius: 18px;
  margin-top: 16px;
  font-weight: bold;
  color: #0F0F10;
}
.ads .sidebar .filter-card .yellow-circle,
.ads .sidebar .filter-card-group .yellow-circle {
  margin-right: 12px;
}
.ads .sidebar .filter-card {
  padding: 24px;
}
.ads .sidebar .filter-card .filter-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}
.ads .sidebar .filter-card h1 {
  font-size: 16px;
  font-weight: 600;
}
.ads .sidebar .filter-card .discard-btn {
  font-size: 14px;
  color: #EF3838;
}
.ads .sidebar .filter-card .selected-filter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.ads .sidebar .filter-card .selected-filter button {
  background-color: #E6F2FF;
  color: #007AFF;
  border: 1px solid #007AFF;
  border-radius: 26px;
  padding: 4px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  margin: 4px 0;
}
.ads .sidebar .filter-card .selected-filter button img {
  margin-right: 16px;
}
.ads .sidebar .filter-card .seller-type {
  margin-top: 24px;
  display: flex;
  width: 100%;
  width: 248px;
  height: 48px;
  border: 2px solid #F0EFEF;
  border-radius: 12px;
}
.ads .sidebar .filter-card .seller-type button {
  border: none;
  width: 100%;
  color: #0F0F10;
  background-color: transparent;
  font-size: 16px;
  font-weight: 400;
}
.ads .sidebar .filter-card .seller-type button.active {
  background-color: #F0EFEF;
}
.ads .sidebar .filter-card-group .filter-brand {
  display: flex;
  flex-direction: column;
}
.ads .sidebar .filter-card-group .filter-brand .choose-filter-btn {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #F0EFEF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px 16px 0;
  margin-left: 24px;
}
.ads .sidebar .filter-card-group .filter-brand .choose-filter-btn:last-child {
  border: none;
}
.ads .sidebar .filter-card-group .filter-brand .choose-filter-btn span {
  font-size: 16px;
  font-weight: 600;
}
.ads .sidebar .filter-card-group .filter-optoins label {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #DCDDE0;
  padding: 24px 24px 16px 0;
  margin-left: 24px;
}
.ads .sidebar .filter-card-group .filter-optoins label:last-child {
  border: none;
}
.ads .sidebar .filter-card-group .filter-optoins label input[type=checkbox] {
  width: 24px;
  height: 24px;
  border-color: red;
  border-radius: 4px;
}
.ads .sidebar .filter-card-group .filter-optoins label input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #DCDDE0;
  border-radius: 4px;
}
.ads main {
  margin-right: 312px;
}
.ads main .current-price-mobile {
  display: none;
}
.ads main .current-price {
  margin-top: 28px;
  padding: 24px 32px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.0392156863);
  border-radius: 18px;
}
.ads main .current-price-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}
.ads main .current-price-title .car-logo {
  margin-left: 16px;
}
.ads main .current-price-title h1 {
  font-size: 20px;
}
.ads main .current-price-title a {
  color: #007AFF;
}
.ads main .current-price-title a img {
  margin-right: 14px;
}
.ads main .current-price-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ads main .current-price-detail h1,
.ads main .current-price-detail span,
.ads main .current-price-detail p {
  font-size: 16px;
}
.ads main .current-price-detail div {
  display: flex;
  flex-direction: column;
}
.ads main .current-price-detail div > * {
  margin-top: 16px;
}
.ads main .current-price-detail .ascending img,
.ads main .current-price-detail .decending img {
  margin-right: 4px;
}
.ads main .current-price-detail .ascending {
  color: #02C7BE;
}
.ads main .current-price-detail .decending {
  color: #EF3838;
}
.ads main .current-price-detail .product span {
  color: #85858F;
  margin-right: 4px;
}
.ads main .current-price-detail .factroy-price {
  margin-left: 47px;
}
.ads main .current-price-detail .instant-price h1 {
  display: flex;
  font-weight: 800;
  align-items: center;
}
.ads main .current-price-detail .instant-price span {
  font-weight: normal;
  font-family: "iran" !important;
  font-size: 18px;
  margin-right: 4px;
}
.ads main .ads-item {
  margin-top: 24px;
}
.ads main .ads-item .ads-card {
  padding: 16px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.0392156863);
  display: flex;
  border-radius: 18px;
  position: relative;
  margin-top: 16px;
}
.ads main .ads-item .ads-card .ads-card-mobile {
  display: flex;
  width: 100%;
}
.ads main .ads-item .ads-card .location-mobile {
  display: none;
}
.ads main .ads-item .ads-card .ads-img {
  position: relative;
  height: 167.3px;
}
.ads main .ads-item .ads-card .ads-img .ads-cover {
  width: 298.21px;
  height: 100%;
  border-radius: 12px;
}
.ads main .ads-item .ads-card .ads-img .img-number {
  border: none;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 57px;
  height: 24px;
  border-radius: 24px;
  background-color: #fff;
  padding: 5px;
  font-size: 14px;
  color: #606066;
}
.ads main .ads-item .ads-card .ads-img .img-number img {
  transform: translateY(-2px);
}
.ads main .ads-item .ads-card .ads-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  width: 100%;
}
.ads main .ads-item .ads-card .ads-description > div {
  display: flex;
  align-items: center;
}
.ads main .ads-item .ads-card .ads-description > div:not(.location) {
  margin-right: 24px;
}
.ads main .ads-item .ads-card .ads-description .ads-detail-title h1 {
  font-size: 20px;
  font-weight: 600;
  margin-left: 31px;
  color: #0F0F10;
}
.ads main .ads-item .ads-card .ads-description .ads-detail-title .upload-date {
  font-size: 12px;
  background-color: #F7F7F7;
  color: #85858F;
  padding: 2px 10px;
  border-radius: 6px;
}
.ads main .ads-item .ads-card .ads-description .ads-detail {
  padding: 4px 0;
}
.ads main .ads-item .ads-card .ads-description .ads-detail p {
  padding-left: 16px;
  margin-right: 16px;
  font-size: 14px;
  border-left: 1px solid #DCDDE0;
  color: #0F0F10;
  font-weight: 450;
  height: 16px;
}
.ads main .ads-item .ads-card .ads-description .ads-detail p:first-child {
  margin-right: 0;
}
.ads main .ads-item .ads-card .ads-description .ads-detail p:last-child {
  border: none;
}
.ads main .ads-item .ads-card .ads-description .seller {
  padding: 8px;
  background-color: #F7F7F7;
  color: #85858F;
  font-size: 13px;
  width: 97px;
  height: 32px;
  border-radius: 8px;
  margin-right: 32px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ads main .ads-item .ads-card .ads-description .seller img {
  width: 16px;
  height: 16px;
  margin-left: 8px;
  margin-bottom: 2px;
}
.ads main .ads-item .ads-card .ads-description .location {
  justify-content: space-between;
}
.ads main .ads-item .ads-card .ads-description .location .address {
  font-size: 14px;
  color: #0F0F10;
  font-weight: 450;
}
.ads main .ads-item .ads-card .ads-description .location .location-icon {
  margin: 0 11px 0 8px;
}
.ads main .ads-item .ads-card .ads-description .location .price {
  justify-content: flex-end;
  margin-left: 8px;
  color: #0F0F10;
}
.ads main .ads-item .ads-card .ads-description .location .price h1 {
  font-size: 20px;
  font-weight: 800;
}
.ads main .ads-item .ads-card .ads-description .location .price .currency {
  margin-right: 8px;
}
.ads main .ads-item .ads-card .hamcar-badge,
.ads main .ads-item .ads-card .verified-badge {
  position: absolute;
  top: 16px;
  left: 0;
}
.ads main .ads-item .ads-card .hamcar-badge {
  width: 32px;
  height: 96px;
}
.ads main .ads-item .ads-card .verified-badge {
  width: 36px;
  height: 36px;
  top: 46px;
  left: 48px;
}

@media (max-width: 1250px) {
  .ads {
    padding: 25px;
  }
  .ads-top {
    margin-bottom: 16px;
  }
  .ads-top .ads-title {
    display: none;
  }
  .ads-top .ads-title-mobile {
    display: block;
    font-size: 16px;
  }
  .ads-top .recent-search {
    display: none;
  }
  .ads-top .recent-search-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #F7F7F7;
  }
  .ads-top .menu {
    width: 40px;
    height: 40px;
    margin: 0 8px;
  }
  .ads-top .menu img {
    width: 16px;
    height: 16px;
  }
  .ads-top .ads-order {
    width: 88px;
    height: 40px;
    font-size: 13px;
    padding: 12px 8px;
  }
  .ads-top .ads-order span:first-child {
    display: none;
  }
  .ads-top .ads-order .ads-order-mobile {
    display: block;
  }
  .ads-top .ads-order img {
    width: 10px;
    height: 5px;
  }
  .ads main {
    margin-right: 0;
  }
  .sidebar {
    display: none;
  }
}
@media (max-width: 768px) {
  .ads .banner-img {
    display: none;
  }
  .ads .banner-img-mobile {
    display: block;
    width: 100%;
    height: 120px;
    margin-top: 16px;
  }
  .ads .sidebar {
    display: none;
  }
  .ads main .current-price {
    display: none;
  }
  .ads main .current-price-mobile {
    padding: 13px;
    background-color: #F7F7F7;
    border-radius: 14px;
    display: block;
  }
  .ads main .current-price-mobile img {
    width: 64px;
    height: 21px;
    margin: 0 !important;
  }
  .ads main .current-price-mobile .current-price-title {
    align-items: center;
  }
  .ads main .current-price-mobile .current-price-detail {
    font-size: 14px;
    margin-top: 16px;
    padding: 0 4px;
  }
  .ads main .current-price-mobile .current-price-detail h1 {
    display: flex;
    font-weight: 800;
    align-items: center;
  }
  .ads main .current-price-mobile .current-price-detail span {
    font-weight: normal;
    font-family: "iran" !important;
    font-size: 18px;
    margin-right: 4px;
  }
  .ads main .current-price-mobile .product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px;
  }
  .ads main .current-price-mobile .product-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 12px;
  }
  .ads main .current-price-mobile .product-item .product-year {
    position: relative;
    margin-left: 8px;
    padding-left: 8px;
  }
  .ads main .current-price-mobile .product-item .product-year:after {
    content: "";
    height: 60%;
    width: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #DCDDE0;
  }
  .ads main .current-price-mobile .product p {
    display: flex;
    align-items: center;
  }
  .ads main .current-price-mobile .product .ascending {
    justify-content: flex-end;
    color: #02C7BE;
    font-size: 14px;
  }
  .ads main .current-price-mobile .product .ascending img {
    width: 14px;
    height: 14px;
    margin-right: 6px !important;
  }
  .ads main .current-price-mobile .upload-date {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #85858F;
    font-size: 14px;
    padding: 0 4px;
  }
  .ads main .current-price-mobile .more {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    cursor: pointer;
  }
  .ads main .current-price-mobile .more img {
    width: 12px;
    height: 6px;
  }
  .ads main .ads-item .ads-card {
    padding-right: 0;
    box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.0392156863);
    display: flex;
    flex-direction: column;
  }
  .ads main .ads-item .ads-card .ads-img {
    height: 101px;
  }
  .ads main .ads-item .ads-card .ads-img .ads-cover {
    width: 120px;
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .ads main .ads-item .ads-card .ads-img .img-number {
    display: none;
  }
  .ads main .ads-item .ads-card .ads-description > div:not(.location) {
    margin-right: 8px;
  }
  .ads main .ads-item .ads-card .ads-description .ads-detail-title h1 {
    margin-left: 0;
    font-size: 15px;
  }
  .ads main .ads-item .ads-card .ads-description .ads-detail-title .upload-date {
    background-color: transparent;
    color: #ABADB2;
  }
  .ads main .ads-item .ads-card .ads-description .ads-detail p {
    padding-left: 8px;
    margin-right: 8px;
    font-size: 12px;
  }
  .ads main .ads-item .ads-card .ads-description .seller {
    width: 72px;
    height: 24px;
    margin-top: 7px;
    margin-right: 8px !important;
  }
  .ads main .ads-item .ads-card .ads-description .seller img {
    width: 12px;
    height: 12px;
  }
  .ads main .ads-item .ads-card .ads-description .seller span {
    font-size: 12px;
  }
  .ads main .ads-item .ads-card .ads-description .location {
    display: none;
  }
  .ads main .ads-item .ads-card .location-mobile {
    display: flex;
    justify-content: space-between;
    padding: 0 3px 0 16px;
  }
  .ads main .ads-item .ads-card .location-mobile img {
    margin-left: 4px;
    width: 12px;
    height: 12px;
  }
  .ads main .ads-item .ads-card .location-mobile .address {
    font-size: 13px;
  }
  .ads main .ads-item .ads-card .location-mobile .price h1 {
    font-size: 17px;
    font-weight: 800;
  }
  .ads main .ads-item .ads-card .location-mobile .price .currency {
    margin-right: 8px;
  }
  .ads main .ads-item .ads-card .hamcar-badge,
  .ads main .ads-item .ads-card .verified-badge {
    position: absolute;
    top: 12px;
    left: 0;
  }
  .ads main .ads-item .ads-card .hamcar-badge {
    width: 12px;
    height: 36px;
  }
  .ads main .ads-item .ads-card .verified-badge {
    width: 16px;
    height: 16px;
    top: 20px;
    left: 20px;
  }
}
@media (max-width: 375px) {
  .ads {
    padding: 7px;
  }
  .ads .ads-item .ads-card {
    padding: 8px;
  }
  .ads .ads-item .ads-card .ads-detail p {
    padding-left: 4px !important;
    margin-right: 4px !important;
    font-size: 12px;
  }
}/*# sourceMappingURL=Home.css.map */