// Color Palette
$color-dark: #0F0F10;
$color-gray: #ABADB2;
$color-light-gray: #F0EFEF;
$color-white-smoke: #F7F7F7;
$color-white: #fff;
$color-blue: #007AFF;
$color-light-blue: #E6F2FF;
$color-vivid-orange: orange;
$color-red: #EF3838;
$color-box-shadow: #0000000A;
$color-border: #DCDDE0