// Variables
@use '../../styles/variables.scss' as *;

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 2px solid $color-light-gray;

    .mobile-logo {
        display: none;
    }

    .search-icon-mobile {
        display: none;
    }

    .logo {
        margin-left: 56px;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .hamburger-menu {
            display: none;
        }

        li {
            padding: 0 24px;
            color: $color-dark;
        }

        // light/dark mode btn
        .theme {
            border-left: 2px solid #DCDDE0;
            padding: 0 28px 0 40px;
            height: fit-content;

            .theme-btn {
                width: 48px;
                height: 24px;
                background: $color-light-gray;
                border-radius: 56px;
                padding: 2px;

                button {
                    border: none;
                    width: 20px;
                    height: 20px;
                    background-color: $color-white;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .search-box {
            display: flex;
            align-items: center;
            height: 36px;
            margin: 0 40px 0;

            img {
                margin-left: 16px;
                width: 24px;
                height: 24px;
            }

            input {
                border: none;
                outline: none;
                height: 100%;
                margin-top: 2px;
                font-size: 20px;

                &::placeholder {
                    font-size: 20px;
                    color: $color-gray;
                    font-weight: 500;
                }
            }

        }
    }

    .user-action {
        display: flex;
        align-items: center;

        .login-signup-btn {
            margin-left: 48px;
        }

        .add-ads-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $color-blue;
            color: $color-white;
            font-weight: 300;
            width: 192px;
            height: 56px;
            border-radius: 14px;
        }
    }
}

// responsive

@media (max-width: 1399px) {

    header {
        border-bottom: 1px solid $color-light-gray;
        padding: 12px 26px;
        .mobile-logo {
            display: flex;
        }

        .logo {
            display: none;
        }

        nav {
        width: 100%;

            .hamburger-menu {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 12px;
                background-color: $color-white-smoke;
            }

            ul {
                display: none;
            }


            .search-box {
                display: none;
            }

            .search-icon-mobile {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 48px;
                height: 48px;
                border-radius: 12px;
                background-color: $color-white-smoke;
                margin-right: 16px;
            }
        }

        .theme {
            display: none;
        }

        .user-action {
            display: none;
        }

    }

}